.hero-inside {
  background-color: #353528;
  padding: 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: -20;
}
.hero-skills {
  position: relative;
  z-index: 100;
}
.hero-inside h1 {
  font-size: 30px;
  font-weight: bold;
}
.hero-inside h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
.hero-inside .intro {
  margin-bottom: 20px;
}
.hero-inside p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.12px;
}
.btn-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.hero-inside .fa-brands {
  font-size: 30px;
  margin: 15px 10px;
}
.hero-inside .circle-img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: #66664d;
  overflow: hidden;
  margin: 0 auto 10px;
}
.hero-inside .dev-container {
  width: 130px;
  position: relative;
  left: 4px;
  top: 5px;
}
.hero-inside .git-in-container {
  display: flex;
}
#codeVid {
  position: absolute;
  opacity: 0.02;
  top: -20%;
  width: 300%;
  left: -35%;
  z-index: -10;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

@media screen and (min-width: 992px) {
  #codeVid {
    width: 150%;
    left: -15%;
  }
  .hero-inside {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
    justify-content: flex-end;
  }
  .hero-inside .text-btn-container {
    text-align: left;
    text-align: left;
    width: 70%;
    width: 56%;
    margin: 6% 0 0 8vw;
    max-width: 780px;
  }
  .hero-inside .btn-icons {
    flex-direction: row;
    margin-top: 0;
  }
  .hero-inside h1 {
    font-size: 60px;
    font-weight: bold;
  }
  .hero-inside h2 {
    font-size: 30px;
    font-weight: 400;
  }
  .hero-inside p {
    font-size: 16px;
    line-height: 22px;
  }
  .hero-inside .circle-img {
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;

    margin: 0 2vw 0 auto;
  }
  .hero-inside .dev-container {
    width: 100%;
    max-width: 430px;
    left: auto;
  }
  .hero-inside .primary-btn {
    margin-right: 20px;
  }
}
