* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #cecece;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
.primary-btn {
  border-radius: 4px;
  border: solid 2px #cecece;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 11px 20px;
}
.primary-btn:hover {
  background: #cecece;
  color: #64644b;
}

.fluid-img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) {
  .hide-lg {
    display: none !important;
  }
}
