.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353c42;
  border-radius: 8px;
  width: 300px;
  margin: 0 0 100px;
  z-index: 100;
}
.project-wrapper {
  position: relative;
  z-index: 100;
}
.project img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.project .img-container {
  width: 82%;
  position: absolute;
  top: -40px;
}
.project .text-container {
  text-align: center;
  padding: 120px 20px 20px;
  z-index: 2;
}
.project h4 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.project p {
  font-size: 16px;
}
.time-tracking .img-container {
  width: 100%;
}

.project .demo,
.project .code {
  border-radius: 4px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  width: 100px;
  height: 50px;
  margin: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.project .demo {
  background-color: #64644b;
  border: solid 1px #64644b;
}
.project .demo:hover {
  background-color: #7d7d5e;
}
.project .code {
  background: transparent;
  color: #cecece;
  border: solid 1px #cecece;
}
.project .code:hover {
  background-color: #cecece;
  color: #64644b;
}
.project .code:hover .fa-github {
  color: #64644b;
}
.project .fa-github {
  font-size: 20px;
  margin-right: 4px;
}
.project .btn-container {
  margin-bottom: 20px;
  z-index: 2;
}
.triangle {
  width: 200px;
  height: 200px;
  border-left: 1px solid #64644b;
  position: absolute;
  right: -130px;
  top: -100px;
  display: block;
  animation: horizontal-rotate-negative 24s linear infinite alternate;
  z-index: -1;
}
.triangle::after,
.triangle::before {
  content: '';
  position: absolute;
  height: 1px;
  background: #64644b;
  transform-origin: 0 0;
}
.triangle::before {
  top: 0;
  left: 0;
  right: 4px;
  transform: rotate(31deg);
}
.triangle::after {
  bottom: 0;
  right: 7px;
  left: -1.5px;
  transform: rotate(-30deg);
}
.circle {
  width: 214px;
  height: 214px;
  border: solid 1px #64644b;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: -90px;
  top: -90px;
  animation: horizontal-rotate-circle 12s linear infinite alternate;
}
.square {
  width: 204px;
  height: 204px;
  border: solid 1px #64644b;
  position: absolute;
  top: -90px;
  right: -90px;
  animation: horizontal-rotate-negative 24s linear infinite alternate;
  z-index: -1;
}
@keyframes horizontal-rotate-circle {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(8%);
  }

  50% {
    transform: translateX(16%);
  }

  75% {
    transform: translateX(24%);
  }

  100% {
    transform: translateX(32%);
  }
}
@keyframes horizontal-rotate-negative {
  0% {
    transform: translateX(0) rotate(0);
  }

  25% {
    transform: translateX(-8%) rotate(45deg);
  }

  50% {
    transform: translateX(-16%) rotate(90deg);
  }

  75% {
    transform: translateX(-24%) rotate(135deg);
  }

  100% {
    transform: translateX(-32%) rotate(180deg);
  }
}

@media screen and (min-width: 992px) {
  .project {
    flex-direction: row;
    width: auto;
    background: transparent;
    border-radius: 0;
    /* width: 90%; */
    display: flex;
    justify-content: center;
    margin: 0 0 130px;
  }
  .project .img-container {
    position: static;
  }
  .project .btn-container {
    display: flex;
    margin: 25px 0 0;
  }
  .project .text-container {
    text-align: left;
    padding: 0;
  }
  .project .demo {
    margin-left: 0;
  }
  .project .demo,
  .project .code {
    width: 110px;
  }
  .project .img-container {
    max-width: 630px;
    margin: 0 60px;
    width: 60%;
  }
  .time-tracking .img-container {
    max-width: 775px;
  }
  .project.right {
    flex-direction: row-reverse;
  }
  .project .text-btn {
    max-width: 460px;
  }
  .time-wrapper .project .img-container {
    max-width: 775px;
    margin: 0 auto 0 0;
    position: relative;
    left: -5%;
  }

  .project.right .img-container {
    margin: 0 0 0 auto;
  }
  .project.left .img-container {
    margin: 0 auto 0 0;
  }
  .circle {
    width: 254px;
    height: 254px;
    top: 70px;
  }
  .square {
    width: 254px;
    height: 254px;
    top: 50px;
  }
  .triangle {
    width: 250px;
    height: 250px;
    top: 40px;
    right: -60px;
  }
}
